.container {
  flex-direction: row;
  display: flex;
}

.icon {
  margin-right: 8px;
  color: var(--darkGrey);
}

.subtitle {
  color: var(--darkBlue);
  font-weight: bold;
}

.info {
  margin-bottom: 8px;
}
