@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

:root {
  --blue: #02457a;
  --lightBlue: #018abe;
  --grey: #f3f9fa;
  --darkGrey: #97cadb;
  --darkBlue: #001b48;
}

body {
  background-color: var(--grey);
  font-family: "Roboto", sans-serif;
}

.MuiPaper-elevation1 {
  width: calc(100vw - 284px);
}
